[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Steam Account Switcher
Comment=Qt 5/6 Steam account switcher for linux
Exec=steamswitcher
Icon=steam
Terminal=false
